/*
1. Posicionamiento
2. Modelo caja
3. Tipografía
4. Visuales
5. Otros
*/

:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFFFFF;
    --background-gradient: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

a {
    text-decoration: none;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: var(--background-gradient);
}

header img {
    width: 151px;
    height: 24px;

}

.header-title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 36px;
    text-align: center;
    align-self: center;
}

.header-title-container h1 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--white);
}

.header-title-container p {
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header-title-container a {
    display: block;
    position: absolute;
    top: calc(100% - 24px);
    left: calc(50% - 115px);
    width: 230px;
    height: 48px;
    background-color: var(--off-white);
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--warm-black);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.header-title-container a span {
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-left: 14px;
    background-image: url("./assets/icons/flechaabajo.svg");
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 30px;
    height: auto;
    text-align: center;
}

.main-exchange-container .backgroundimg {
    width: 195px;
    height: 195px;
    margin: 0 auto 50px;
    background-image: url("./assets/imgs/bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container-info {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container-info h2 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.main-exchange-container-info p {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575;
}

.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.main-titulomonedas {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--bitcoin-orange);
}

.currency-table-container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table-container table {
    width: 100%;
    height: 100%;
}

.currency-table-container table tr td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--white); 
    text-align: left;
    padding-left: 12px;
}

.table__top-left {
    border-top-left-radius: 15px;
}

.table__top-right {
    border-top-right-radius: 15px;
}

.table__bottom-left {
    border-bottom-left-radius: 15px;
}

.table__bottom-right {
    border-bottom-right-radius: 15px;
}

.currency-table-container table tr .table__right {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    color: #757575;
}

.down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/imgs/graficobaja.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/imgs/graficosube.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-currency-table-actualizado {
    width: 190px;
    height: 30px;
    margin: 15px auto 0;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.main-currency-table-actualizado p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--warm-black);
}

.currency-table-container caption,
.currency-table-container th {
    display: none;
}

.main--benefits {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-bottom: 48px;
    text-align: center;
    background-color: var(--warm-black);
}

.main--benefits picture {
    position: relative;
}

.benefits--logosolo {
    display: block;
    position: absolute;
    top: calc(0% - 12px);
    left: calc(50% - 20px);
    width: 40px;
    height: 24px;
}

.benefits--benefits-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: auto;
    padding-top: 64px;
    margin: 0 auto;
    color: var(--white);
}

.benefits--benefits-container h2 {
    margin-bottom: 24px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
}

.benefits--benefits-container p {
    margin-bottom: 32px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #808080;
}

.benefits-container--detail-container {
    height: 152px;
    margin-bottom: 16px;
    padding: 16px;
    text-align: left;
    background-color: var(--warm-black-1);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.benefits-container--detail-container img {
    width: 20px;
    height: 20px;
    margin-bottom: 12px;
}

.benefits-container--detail-container h3 {
    margin-bottom: 10px;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 700;
}

.main--jocker {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    padding-top: 64px;
    text-align: center;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--white);
    background-image: url("./assets/imgs/bitcoinbaby.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main--payment-plans {
    width: 100%;
    height: auto;
    padding-top: 64px;
    padding-bottom: 64px;
}

.payment-plans--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.payment-plans--title h2 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--warm-black);
}

.payment-plans--title p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    margin-bottom: 50px;
    color: #757575;
}

.payment-plans--slider {
    display: flex;
    align-items: center;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.slider--card {
    position: relative;
    scroll-snap-align: center;
    width: 190px;
    height: 248px;
    padding-bottom: 24px;
    padding-top: 31px;
    background-color: var(--white);
    margin: 0 20px;
    text-align: center;
}

.card--recomended {
    width: 100px;
    height: 30px;
    padding: 8px;
    position: absolute;
    top: -15px;
    left: calc(50% - 50px);
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
}

.card--info-container {
    padding: 16px;
}

.card--info-container h3 {
    margin-bottom: 8px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
}

.card--info-container p {
    margin-bottom: 16px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.card--info-container .card--info-container--precio {
    margin-bottom: 16px;
    font-family: "Inter", sans-serif;
    font-size: 5.2rem;
    line-height: 6.3rem;
    font-weight: 700;
}

.card--info-container--precio span {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
    display: inline-block;
    vertical-align: 3.1rem;
}

.card--info-container button {
    display: flex;
    width: 150px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--bitcoin-orange);
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: var(--warm-black);
    background-color: var(--off-white);
    
}

.card--info-container button span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    background-image: url("./assets/icons/arrow-right.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}